In [3]:
import pandas as pd
data = [1200,1500,1100,1800]
series = pd.Series(data)
series

0    1200
1    1500
2    1100
3    1800
dtype: int64

In [5]:
labels = pd.Series(data, index = ['Jan', 'Feb', 'Mar', 'Apr'])
labels

Jan    1200
Feb    1500
Mar    1100
Apr    1800
dtype: int64

In [6]:
labels['Feb']

1500

In [8]:
data2  = {'Math': 85, 'Science': 90, 'English': 88}
data2

{'Math': 85, 'Science': 90, 'English': 88}

In [9]:
data2['Science']

90

In [11]:
data = {
    'Name': ['John', 'Sara', 'Mike', 'Emma'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'London', 'Berlin', 'Paris']
}
df3 = pd.DataFrame(data)
df3

   Name  Age      City
0  John   25  New York
1  Sara   30    London
2  Mike   22    Berlin
3  Emma   28     Paris